---
const { url, title, description, previewImg, tech } = Astro.props;
---

<a href={url} class="project">
  <img
    src={previewImg}
    alt="Preview Image"
    width="200"
    height="200"
    aria-hidden="true"
  />
  <div>
    <ul class="project-tech">
      {tech.map((element) => <li class="project-tech-badge">{element}</li>)}
    </ul>

    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</a>

<style lang="scss">
  .project {
    display: flex;
    gap: 1rem;
    color: #efedff;
    text-decoration: none;
    padding: 1rem;
    background-color: #301e67;
    border-radius: 8px;

    &-tech {
      display: flex;
      gap: 0.5rem;

      &-badge {
        background-color: #303047;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        border: 1px solid #b6eada;
        color: #efedff;
        box-shadow: 1px 1px 12px #03001c;
      }
    }
  }
</style>
