---
const { url, title, description, previewImg, tech } = Astro.props;
---

<a href={url} class="project">
  <img
    src={previewImg}
    alt="Preview Image"
    width="200"
    height="200"
    aria-hidden="true"
  />
  <div>
    <div>
      <h3>{title}</h3>
      <ul>
        {tech.map((element) => <li>{element}</li>)}
      </ul>
    </div>
    <p>{description}</p>
  </div>
</a>

<style lang="scss">
  .project {
    display: flex;
    gap: 1rem;
    color: #efedff;
    text-decoration: none;
    padding: 1rem;
    background-color: #301e67;
  }
</style>
